[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fabricQueryR"]
	path = fabricQueryR
	url = https://github.com/kennispunttwente/fabricqueryr
[submodule "tidyprompt"]
	path = tidyprompt
	url = https://github.com/kennispunttwente/tidyprompt
